<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
    <h1>WELCOME TO POLLY CHAT</h1>
    <form action="/welcome" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <input type="submit" value="Login">
    </form>
    <h2>Channels</h2>
    <ul>
        <li th:each="channel : ${channels}">
            <a th:href="@{/channel/{channelId}(channelId=${channel.channelId})}" th:text="${channel.channelName}">Channel</a>
        </li>
    </ul>
    <form action="welcome.html" method="post">

    </form>

</body>
</html>